<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd 
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd 
		
		">
		

		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"       
		        destroy-method="close">       
		    <property name="driverClassName" value="${jdbc.driver}" />      
		    <property name="url" value="${jdbc.url}" />      
		    <property name="username" value="${jdbc.username}" />      
		    <property name="password" value="${jdbc.password}" />      
		    <property name="defaultAutoCommit" value="true" />      
		    <property name="defaultReadOnly" value="false" />      
		    <property name="maxActive" value="${dbcp.maxActive}" />      
		   <!--  <property name="maxIdle" value="${dbcp.maxIdle}" />  -->     
		    <property name="maxWait" value="600000" />      
		</bean>  
		
		<!-- Jpa Entity Manager 配置 -->
	    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	        <property name="dataSource" ref="dataSource"/>
	        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
	        <property name="packagesToScan" value="com.shenma.top.imagecopy.entity"/>
	        <property name="jpaProperties">
	            <props>
	                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
	                 <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
	                <!--
	                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
	                <prop key="net.sf.ehcache.configurationResourceName">ehcache/ehcache-hibernate-local.xml</prop>
	               <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop> -->
	            </props>
	        </property>
	    </bean>
	    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
	    
	         <!-- Jpa 事务配置 -->
	    <bean id="transactionManagerJPA" class="org.springframework.orm.jpa.JpaTransactionManager">
	        <property name="entityManagerFactory" ref="entityManagerFactory"/>
	    </bean>    
	    <!-- Spring Data Jpa配置 -->
	   <!--  <jpa:repositories base-package="com.shenma.top.imagecopy.dao" transaction-manager-ref="transactionManagerJPA" entity-manager-factory-ref="entityManagerFactory">
	        
	    </jpa:repositories> -->
	    <jpa:repositories base-package="com.shenma.top.imagecopy.dao" transaction-manager-ref="transactionManagerJPA" entity-manager-factory-ref="entityManagerFactory" ></jpa:repositories>
	     <!-- 使用annotation定义事务 -->
	    <tx:annotation-driven transaction-manager="transactionManagerJPA"/>
		
</beans>